[project]
name = "walletconnectv13"
authors = []
description = ""
telemetry = true
requirements = []

[contracts.walletconnectv13]
path = "contracts/walletconnectv13.clar"
clarity_version = 2

[repl.analysis]
passes = ["check_checker"]

[repl.analysis.check_checker]
strict = false
trusted_sender = false
trusted_caller = false
callee_filter = false
